<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class="panel-footer">
        <a class="btn btn-default" (click)='onBack()' style="width:80px">
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>
